


<script>

    $(document).ready(function () {
        $('#additional_menu').load('@Url.Action("AdditionalMenu", "Assignment")');
    })
</script>



<div id="results">

</div>



<!--виды таблица, календарь, график-->