@model UserModel



    <div>
        @if (Model.IsAuthenticated)
        {
            <div>
                <a class="nav-link text-white" asp-controller="Account" asp-action="Logout" title="Manage">@Model.Name</a>
            </div>
            <div>
                <form class="form-inline" asp-controller="Account" asp-action="Logout">
                    <button type="submit" class="nav-link btn btn-link text-white">@Resources.Controls.LogOut</button>
                </form>
            </div>
        }
        else
        {
            <div class="nav-item">
                <a class="nav-link text-white" asp-controller="Account" asp-action="Register">@Resources.Controls.SignUp</a>
            </div>
            <div class="nav-item">
                <a class="nav-link text-white" asp-controller="Account" asp-action="Login">@Resources.Controls.SignIn</a>
            </div>
        }
    </div>