@model UserModel

    <ul class="navbar-nav">
        @if (Model.IsAuthenticated)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Account" asp-action="Logout" title="Manage">@Model.Name</a>
            </li>
            <li class="nav-item">
                <form class="form-inline" asp-controller="Account" asp-action="Logout">
                    <button type="submit" class="nav-link btn btn-link text-dark">@Resources.Controls.LogOut</button>
                </form>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">@Resources.Controls.SignUp</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">@Resources.Controls.SignIn</a>
            </li>
        }
    </ul>